<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h2>
      Nhà hàng<br/> <strong>Ngon Muốn Chớt</strong>
    </h2>
    <p>
      21 Nguyễn Trung Ngạn, Bến Nghé, HCM
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3737757717076!2d106.7022000148008!3d10.782657892317255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f49428d4f6b%3A0x3a31bc0dde17a40d!2zRHJlYW1wbGV4IENvd29ya2luZyBTcGFjZSBWxINuIHBow7JuZywgc2hhcmVkIG9mZmljZSB2xINuIHBow7JuZyBjYW8gY-G6pXAgY2hvIHRodcOqIHRy4buNbiBnw7Np!5e0!3m2!1svi!2svn!4v1449287210308" width="100%" height= "400px" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
