/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "normalize";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html {
    
    font-size: 100%;        
}

body {
  font-family: Arial, 'Lato', sans-serif !important;
  font-size: 14px;
  color: #808080;
  font-weight: normal;
  overflow-x: hidden !important;
  line-height: 25px;
  padding-top: 100px;
}


.img-thumb {
  width: 50px;
  height: 50px;
}

.label {
  font-weight: normal;
}
.food-detail {
  width: 100%;
  height: 500px;
  padding: 0px;
  
  .img-responsive {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 320px;
    margin: auto;
  }
}


/*---------------------------------------
 **   BUTTONS                        -----
-----------------------------------------*/

.buttons {
  text-align: center;
  margin-bottom: 100px;
  margin-top: 45px;
}
.button {
  display: inline-block !important;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 35px 10px 35px;
  border-radius: 4px;
  margin: 10px;
}
.custom-button {
  display: inline-block !important;
  text-align: center;
  text-transform: uppercase;
  padding: 13px 35px 13px 35px;
  border-radius: 4px;
  margin: 10px;
  border: none;
}
.red-btn {
  background: #e96656;
}
.green-btn {
  background: #20AA73;
}
.blue-btn {
  background: #3ab0e2;
}
.yellow-btn {
  background: #E7AC44;
}
.red-btn,.green-btn,.blue-btn,.yellow-btn {
  color: #FFF;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
.blue-btn:hover {
  color: #FFF;
  background: #1288b9;
}
.red-btn:hover {
  color: #FFF;
  background: #cb4332;
}
.green-btn:hover {
  color: #FFF;
  background: #069059;
}
.yellow-btn:hover {
  color: #FFF;
  background: #d8951e;
}

/*---------------------------------------
 **   COLORS                         -----
-----------------------------------------*/

/** BACKGROUNDS **/
.red-bg {
  background: #e96656;
}
.green-bg {
  background: #34d293;
}
.blue-bg {
  background: #3ab0e2;
}
.yellow-bg {
  background: #E7AC44;
}
.dark-bg {
  background: #404040;
}
.white-bg {
  background:  #FFFFFF;
}

/** FOR TEXTS AND ICON FONTS **/
.red-text {
  color: #e96656;
}
.green-text {
  color: #34d293;
}
.blue-text {
  color: #3ab0e2;
}
.yellow-text {
  color: #f7d861;
}
.dark-text {
  color: #404040;
}
.white-text {
  color: #FFFFFF;
}

/*---------------------------------------
 **   BORDER BOTTOMS                 -----
-----------------------------------------*/

.white-border-bottom:before {
  position: absolute;
  margin: auto;
  z-index: 1;
  content: "";
  width: 50%;
  height: 2px;
  background: #F5F5F5;
  bottom: -9px;
  left: 25%;
}
.dark-border-bottom:before {
  position: absolute;
  margin: auto;
  z-index: 1;
  content: "";
  width: 50%;
  height: 2px;
  background: #404040;
  bottom: -9px;
  left: 25%;
}
.red-border-bottom:before {
  position: absolute;
  margin: auto;
  z-index: 1;
  content: "";
  width: 75%;
  height: 2px;
  background: #e96656;
  bottom: -9px;
  left: 12.5%;
}
.green-border-bottom:before {
  position: absolute;
  margin: auto;
  z-index: 1;
  content: "";
  width: 75%;
  height: 2px;
  background: #34d293;
  bottom: -9px;
  left: 12.5%;
}
.blue-border-bottom:before {
  position: absolute;
  margin: auto;
  z-index: 1;
  content: "";
  width: 75%;
  height: 2px;
  background: #3ab0e2;
  bottom: -9px;
  left: 12.5%;
}
.yellow-border-bottom:before {
  position: absolute;
  margin: auto;
  z-index: 1;
  content: "";
  width: 75%;
  height: 2px;
  background: #f7d861;
  bottom: -9px;
  left: 12.5%;
}


/*---------------------------------------
 **   SECTION HEADERS                -----
-----------------------------------------*/

/*** SECTION HEADERS ***/
.focus,.works,.about-us,.features,.packages,.products,.testimonial,.contact-us {
  padding-top: 100px;
}
.section-header {
  text-align: center;
  padding-bottom: 75px;
}
.section-header h2 {
  padding-bottom: 10px;
  line-height: 40px;
  position: relative;
  display: inline-block;
}
.section-header h6 {
  font-size: 16px;
}

/* PRE LOADER */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefefe;
  z-index: 99999;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}
.status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../images/loading.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}

/*---------------------------------------
=========================================
 **   SECTION STYLES                 -----
=========================================
-----------------------------------------*/

/*---------------------------------------
 **   SECTION:  HOME                  -----
-----------------------------------------*/

.header {
  background: rgba(0, 0, 0, 0.5);
  min-height: 775px;
  position: relative;
  overflow: hidden;
}

/*----  SECTION:  HOME > TOP BAR   ----*/
.navbar {
  background: #FFF;
  overflow: hidden;
  border: 0;
  border-radius: 0 !important;
  text-align: left;
  -webkit-box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.08);
          box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.08);
}
#main-nav {
  position: absolute;
  width: 100%;
  z-index: 1000;
  min-height: 75px;
}
#main-nav.fixed {
  position: fixed !important;
  top: 0;
}
.navbar-inverse .navbar-nav>li {
  display: inline;
  margin-right: 20px;
  margin-top: 20px;
}
.navbar-inverse .navbar-nav>li:last-child {
  margin-right: 0 !important;
}
.navbar-inverse .navbar-nav>li>a {
  color: #404040;
  padding: 0;
  line-height: 35px;
}
.navbar-brand {
  height: 76px;
  position: relative;
  line-height: 45px;
  padding-top: 23px;
}
.current a {
  color: #e96656 !important;
  position: relative;
  outline: none;
}
.current:before {
  position: absolute;
  margin: auto;
  z-index: 1;
  content: "";
  width: 75%;
  height: 2px;
  background: #e96656;
  bottom: 0px;
  left: 12.5%;
}
.navbar-inverse .navbar-nav>li>a:hover {
  color: #e96656;
  outline: none;
}
.navbar-toggle {
  border: 0;
  background-color: #808080;
        margin-top: 23px;
}
.navbar-inverse .navbar-toggle:hover,.navbar-inverse .navbar-toggle:focus {
  background-color: #e96656;
  filter: alpha(opacity=100);
  opacity: 1;
}

/*----  SECTION:  HOME > INTRO AND SHORT MSGS   ----*/
.intro {
  text-align: center;
  margin-top: 15%;
  line-height: 65px;
  z-index: 0;
}

/* Short Messages */
.bottom-message-section {
  margin-top: 14%;
  position: relative;
}
.short-text {
  margin: auto;
  text-align: center;
  color: rgba(255,255,255,0.7);
  text-transform: uppercase;
}

/*---------------------------------------
 **   SECTION:  OUR FOCUS             -----
-----------------------------------------*/

.focus {
  padding-bottom: 100px;
  overflow: hidden;
  background: #FFFFFF;
}
/* FOCUS BOX */
.focus-box {
  margin-bottom: 75px;
}
.focus-box .service-icon {
  margin-bottom: 30px;
  width: 145px;
  height: 145px;
  margin: auto;
  border-radius: 50%;
  border: 10px solid #ececec;
  margin-bottom: 20px;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

/* ON HOVER COLORED ROUNDED CIRCLE AROUND ICONS */
.red,.green,.blue,.yellow {
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}
.red:hover .service-icon {
  border: 10px solid #e96656;
}
.green:hover .service-icon {
  border: 10px solid #34d293;
}
.blue:hover .service-icon {
  border: 10px solid #3ab0e2;
}
.yellow:hover .service-icon {
  border: 10px solid #f7d861;
}

.focus-box h5 {
  margin-bottom: 15px;
  color: #404040;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 17px;
}
.focus-box p {
  font-size: 14px;
}

/*----OTHER FOCUSES ----*/
.other-focuses {
  background: url(../images/lines.png) repeat-x center;
  margin-bottom: 25px;
}
.other-focuses .section-footer-title {
  background: #FFF;
  padding: 0 15px;
  color: #404040;
  font-weight: bold;
}
.other-focus-list {
  padding-top: 5px;
  margin-bottom: -17px;
}
.other-focus-list ul li {
  display: inline-block;
  margin-right: 50px;
  padding-bottom: 15px;
  text-transform: uppercase;
}
.other-focus-list ul li:last-child {
  margin-right: 0;
}
.other-focus-list ul li i {
  margin-right: 8px;
}

/*---------------------------------------
 **   SECTION:  SEPARATOR ONE         -----
-----------------------------------------*/

.separator-one {
  background: rgba(52, 210, 147, 0.8);
  padding: 100px 0 100px 0;
}
.separator-one .green-btn {
  background: #14a168;
}
.separator-one .green-btn:hover {
  background: #007345;
}
.separator-one .text {
  color: #FFF;
  line-height: 34px;
  padding: 0;
  max-width: 800px;
  margin-bottom: 20px;
}


