/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "normalize";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html {
    
    font-size: 100%;        
}

body {
  font-family: Arial, 'Lato', sans-serif !important;
  font-size: 14px;
  color: #808080;
  font-weight: normal;
  overflow-x: hidden !important;
  line-height: 25px;
  padding-top: 60px;
}


.img-thumb {
  width: 50px;
  height: 50px;
}

.label {
  font-weight: normal;
}
.food-detail {
  width: 100%;
  height: 500px;
  padding: 0px;
  
  .img-responsive {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 320px;
    margin: auto;
  }
}


/*---------------------------------------
 **   BUTTONS                        -----
-----------------------------------------*/

.buttons {
  text-align: center;
  margin-bottom: 100px;
  margin-top: 45px;
}
.button {
  display: inline-block !important;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 35px 10px 35px;
  border-radius: 4px;
  margin: 10px;
}
.custom-button {
  display: inline-block !important;
  text-align: center;
  text-transform: uppercase;
  padding: 13px 35px 13px 35px;
  border-radius: 4px;
  margin: 10px;
  border: none;
}
.red-btn {
  background: #e96656;
}
.green-btn {
  background: #20AA73;
}
.blue-btn {
  background: #3ab0e2;
}
.yellow-btn {
  background: #E7AC44;
}
.red-btn,.green-btn,.blue-btn,.yellow-btn {
  color: #FFF;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
.blue-btn:hover {
  color: #FFF;
  background: #1288b9;
}
.red-btn:hover {
  color: #FFF;
  background: #cb4332;
}
.green-btn:hover {
  color: #FFF;
  background: #069059;
}
.yellow-btn:hover {
  color: #FFF;
  background: #d8951e;
}

/*---------------------------------------
 **   COLORS                         -----
-----------------------------------------*/

/** BACKGROUNDS **/
.red-bg {
  background: #e96656;
}
.green-bg {
  background: #34d293;
}
.blue-bg {
  background: #3ab0e2;
}
.yellow-bg {
  background: #E7AC44;
}
.dark-bg {
  background: #404040;
}
.white-bg {
  background:  #FFFFFF;
}

/** FOR TEXTS AND ICON FONTS **/
.red-text {
  color: #e96656;
}
.green-text {
  color: #34d293;
}
.blue-text {
  color: #3ab0e2;
}
.yellow-text {
  color: #f7d861;
}
.dark-text {
  color: #404040;
}
.white-text {
  color: #FFFFFF;
}

/*---------------------------------------
 **   BORDER BOTTOMS                 -----
-----------------------------------------*/

.white-border-bottom:before {
  position: absolute;
  margin: auto;
  z-index: 1;
  content: "";
  width: 50%;
  height: 2px;
  background: #F5F5F5;
  bottom: -9px;
  left: 25%;
}
.dark-border-bottom:before {
  position: absolute;
  margin: auto;
  z-index: 1;
  content: "";
  width: 50%;
  height: 2px;
  ;
  bottom: -9px;
  left: 25%;
}
.red-border-bottom:before {
  position: absolute;
  margin: auto;
  z-index: 1;
  content: "";
  width: 75%;
  height: 2px;
  background: #e96656;
  bottom: -9px;
  left: 12.5%;
}
.green-border-bottom:before {
  position: absolute;
  margin: auto;
  z-index: 1;
  content: "";
  width: 75%;
  height: 2px;
  background: #34d293;
  bottom: -9px;
  left: 12.5%;
}
.blue-border-bottom:before {
  position: absolute;
  margin: auto;
  z-index: 1;
  content: "";
  width: 75%;
  height: 2px;
  background: #3ab0e2;
  bottom: -9px;
  left: 12.5%;
}
.yellow-border-bottom:before {
  position: absolute;
  margin: auto;
  z-index: 1;
  content: "";
  width: 75%;
  height: 2px;
  background: #f7d861;
  bottom: -9px;
  left: 12.5%;
}
.intro {
  text-align: center;
  padding-top: 15%;
  background-image: url("paper.gif");
  background-color: #cccccc;
}
